
@{
    ViewData["Title"] = "CheckoutHistory";
}
@model List<OrderVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment Summary</h5>

                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Order No</th>
                            <th>Payment Date</th>
                            <th>Details</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <td>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Course Price</th>
                                        </tr>
                                        @foreach (var orderItem in item.OrderItems)
                                        {
                                            <tr>
                                                <td>@orderItem.ProductName</td>
                                                <td>@orderItem.Price TL</td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="alert alert-info">There are no courses purchased.</div>
                }
            </div>
        </div>
    </div>
</div>

